<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mon panier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/produits/arthro_sup.png">
      </ion-avatar>
      <h2><strong style="color: #009d8b">10</strong> Arthro SupReviver</h2>
      <p>75 000 Fcfa.</p>
      <ion-icon name="remove" item-end></ion-icon>
      <ion-icon color="danger" name="trash" item-end></ion-icon>
    </ion-item>
  </ion-card>

  <div text-center="">
    <button ion-button outline [ngClass]="{'button-activated':livraison=='normal'}" (click)="livraison='normal'">
      Livraison normal
      <br>
      (1 000 Fcfa)
    </button>

    <button ion-button outline [ngClass]="{'button-activated':livraison=='express'}" (click)="livraison='express'">
      Livraison express
      <br>
      (2 000 Fcfa)
    </button>

    <div *ngIf="livraison=='normal'">
      Livraison sous 3 jours
    </div>

    <div *ngIf="livraison=='express'">
      Livraison sous 1 jour
    </div>
  </div>


</ion-content>

<ion-footer text-right="">
  <button ion-button clear class="price">000 000 FCFA</button>
  <button ion-button class="buy" (click)="presentActionSheet()">Commander</button>
</ion-footer>
