<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tirer pour rafraîchir"
      refreshingSpinner="dots"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>

  <div text-center="">
    <img class="logo" src="assets/imgs/lg_rond.png" alt="">
  </div>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <img src="assets/imgs/wallpaper/1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/4.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/6.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/7.jpg">
    </ion-slide>
  </ion-slides>

  <ion-searchbar [(ngModel)]="name" placeholder="Recherche un produit" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-card class="product-2" *ngFor="let i of products">
    <ion-row>
      <ion-col col-3 (click)="presentProfileModal(i.id)">
        <ion-slides>
          <ion-slide>
            <img class="img" src="{{i.picture1}}">
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col col-9>
        <h3 class="titre" (click)="presentProfileModal(i.id)">{{i.name}}</h3>
        <p *ngFor="let item of i.description" (click)="presentProfileModal(i.id)">
          {{item}}.
        </p>
        <p class="cart">
          <b>Prix</b> : <strong class="vert" (click)="presentProfileModal(i.id)">{{i.price|priceFormat}} FCFA</strong>
          <br>
          <button ion-button small (click)="presentProfileModalCart(i)">Commander</button>
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--ion-row>
    <ion-col col-6 class="product" *ngFor="let i of products" (click)="presentProfileModal(i.id)">
      <ion-card>
        <img src="{{i.picture1}}" alt="">
        <ion-title>{{i.name}}</ion-title>
        <div class="price_product">{{i.price|priceFormat}} F</div>
      </ion-card>
    </ion-col>
  </ion-row -->


</ion-content>
