<ion-content>

  <div text-center="">
    <img class="logo" src="assets/imgs/lg_rond.png" alt="">
  </div>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <img src="assets/imgs/wallpaper/1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/3.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/4.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/wallpaper/5.jpg">
    </ion-slide>
  </ion-slides>


  <div *ngFor="let item of products">
    <h2 class="category_title">
      <span>{{item.category}}</span>

    </h2>

    <ion-row>
      <ion-col col-6 class="product" *ngFor="let i of (item.products ? item.products.slice(0,2): [])" (click)="presentProfileModal(i.id)">
        <ion-title>{{i.name}}</ion-title>
        <img src="{{i.product_picture.picture1}}" alt="">
        <div class="price_product">{{i.price|priceFormat}} FCFA</div>
      </ion-col>
    </ion-row>
    <div class="affiche">
      <span (click)="openPage(item.category_id)">
        Afficher tout
      </span>
    </div>
  </div>


</ion-content>
