// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//@import "../../node_modules/ionic2-auto-complete/auto-complete";

.header::after{
  background: #FFF;
}

.searchbar .searchbar-input{
  box-shadow: none;
  border-bottom: 1px solid #009d8b;
}

.toolbar-background{
  background: #fff;
}

.category_title{
  font-size: 2rem;
  padding-left: 5px;
  margin-bottom: 15px;
  margin-top: 0.8rem;

  span{
    padding-bottom:5px;
    border-bottom: 3px solid #000;
  }
}

.product{
  padding: 0;

  ion-card{
    margin:5px;
    width: calc(100% - 10px);
  }

  img{
    margin-left:25%;
    width: 50%;
    height: 150px;
  }

  .toolbar-title{
    font-size: 17px !important;
    color: #009d8b !important;
    text-align: center !important;
  }

  .price_product{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
  }
}

.buy{
  width: 30%;
}

.price{
  color: #000;
  font-weight: bold;
}

.price_product{
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
}

.divider{
  width: 40%;
  margin-bottom: 10px;
  margin-top:10px;
  height: 2px;
  background: #009d8b;
}

.vert{
  color: #009d8b;
}

.item{
  ion-avatar {
    img{
      border-radius: 0!important;
    }
  }
}
